/* font-face: only the weights the site uses */

/* bulter */
@font-face {
    font-family: 'Bulter';
    src: url('../assets/fonts/butler_bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bulter';
    src: url('../assets/fonts/butler_regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* iskry */
@font-face {
    font-family: 'Iskry';
    src: url('../assets/fonts/Iskry-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* union */
@font-face {
    font-family: 'Union';
    src: url('../assets/fonts/Union-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
