
@media (max-width : 767.9px){

    body{
        height: 100%;
        min-height: 100vh;
    }

    .o-main-container{
        justify-content: start;
        overflow: hidden;
    }

    .c-cursor{
        display: none;
    }

    .c-main-title {
        white-space: pre-wrap;
        font-size: 23vw;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 10px;
        line-height: 33px;

        &-box{
            margin-top: 20vh;
        }

        span {
            line-height: 61px;
         }

        &--two {
            z-index: 10;
        }
    }

    .c-main-job-title {
        margin-top: -24%;
        margin-left: -2%;
        font-size: 29px;
        z-index: 0;
    }

    .c-destop-menu {
        left: 0;
        bottom: 7%;

        .nav-item {
            .nav-link {
                font-size: 22px;
            }
        }

    }

    .c-social-icons {
        bottom: 3%;
    }

    .c-title-img {
        z-index: -1;
        top: 103%;
        width: 40vw;
    }

    .o-menu-container{
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        display: block;
    }

    .c-panel{

        h2{
            font-size: 1.3rem;
            max-width: 300px;
        }

        h3{
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
        }

        &__description {
            max-width: 310px;
        }
    }

    .o-about-container,
    .o-contact-container {

        .c-main-job-title {
            margin-top: -22%;
        }

        .c-title-img {
            top: 98%;
        }
    }

    // contact page 
    .o-form-container {
        max-width: 300px;
    }


    
// portfolio 
.c-figure{
    figcaption{
        font-size: 1.5rem;
    }

    &--two{
        left: 38%;
        top: auto;
        bottom: 8%;
        max-height: 447px;
        max-width: 60vw;
    }

    &--three{
        right: auto;
        left: 6%;
        top: 7%;
        height: auto;
        max-height: 378px;
        max-width: 215px;


        figcaption{
            margin-top: 1rem;
            margin-right: -5rem;
        }
    }

    &--four{
        left: 22%;
        top: auto;
        bottom: 7%;
        height: auto;
        max-height: 616px;
        max-width: 162px;
        z-index: 1;

        figcaption{
            margin-top: -2rem;
            font-size: 1.2rem;
            margin-right: -6rem;
        }
    }

    &--five{
        left: auto;
        right: -8%;
        top: auto;
        height: auto;
        bottom: 19%;
        max-height: 354px;
        max-width: 245px;

        img{
            border: $border-light;
        }

        figcaption{
            margin-top: 0;
            margin-right: -5rem;
        }
    }

    &--six{
        left: 5%;
        top: 6%;
        height: auto;
        max-height: 354px;
        max-width: 192px;
    }


    &--seven{
        left: auto;
        right: 1%;
        top: auto;
        bottom: 22%;
        height: 560px;
        max-height: 217px;

        figcaption{
            margin-top: 1rem;
            margin-left: -2rem;
        }
    }

    &--eight{
        left: 8%;
        right: auto;
        top: auto;
        bottom: 7%;
        height: auto;
        max-height: 360px;
        max-width: 174px;
    }

    &--nine{
        left: 14%;
        top: 5%;
        height: auto;
        max-height: 320px;
        max-width: 202px;
    }

    &--ten{
        left: 25%;
        top: auto;
        bottom: 8%;
        height: auto;
        max-height: 460px;
        max-width: 224px;

        figcaption{
            margin-top: 1rem;
            font-size: 1rem;
        }
    }

    
}


}


@media screen and (min-width: 768px) and (max-width: 991px)  {

    .c-cursor{
        display: none;
    }

    .o-main-container{
        justify-content: start;
        overflow: hidden;
    }

    .c-main-title {
        white-space: pre-wrap;
        font-size: 23vw;
        text-align: center;
        margin-bottom: -75px;
        line-height: 86px;
        z-index: 1;

        &-box {
            margin-top: 5vh;
        }
    }

    .c-main-job-title {
        margin-left: 0%;
    }
    
    .c-title-img {
        width: 29vw;
        bottom: 21%;
        z-index: 0;
    }

    // About page 

    .o-about-container,
    .o-contact-container {

        .c-title-img {
            top: 98%;
        }
    }
}