*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    user-select: none;
}

html::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D7CECD;
}

// cursor 
.c-cursor{

    &--outline {
       width: 50px;
       height: 50px;
       border-radius: 100%;
       border: 1px solid black;
       transition: all 200ms ease-out;
       position: fixed;
       pointer-events: none;
       left: 0;
       top: 0;
       transform: translate(calc(-50% + 15px), -50%);
     }
   
     &--inline{
       position: fixed;
       z-index: 100;
       width: 64px;
       height: 64px;
       background-color: rgba(#fff, 0.75);
       border-radius: 50%;
       pointer-events: none;
       transition: transform ease 0.34s, background-color ease 0.34s,
         mix-blend-mode ease 0.34s;
       transform: scale(0.5) translate3d(0, 0, 0);
       -webkit-transform: scale(0.5) translate3d(0, 0, 0);
       mix-blend-mode: difference;
   
       &.enlarged {
         transform: scale(1) translate3d(0, 0, 0);
         -webkit-transform: scale(1) translate3d(0, 0, 0);
       //   background-color: rgba(rgb(255, 204, 110), 0.75);
       //   mix-blend-mode: initial;
       }
     }
   
   }