@import 'fonts';

$primary-color : #000000;
$secondary-color : #eaeaea;
$font-bulter : 'Bulter', Courier, monospace;
$font-iskry : 'Iskry', Courier, monospace;
$font-union : 'Union', Courier, monospace;
