@charset "UTF-8";
/* font-face  */
/* font-family: 'Aladin', cursive;
font-family: 'Amatic SC', cursive; */
/* bulter  */
@font-face {
  font-family: "Bulter";
  src: url("../assets/fonts/butler_black-webfont.woff2") format("woff2"), url("../assets/fonts/butler_black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Bulter";
  src: url("../assets/fonts/butler_extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/butler_extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Bulter";
  src: url("../assets/fonts/butler_bold-webfont.woff2") format("woff2"), url("../assets/fonts/butler_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bulter";
  src: url("../assets/fonts/butler_medium-webfont.woff2") format("woff2"), url("../assets/fonts/butler_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Bulter";
  src: url("../assets/fonts/butler_regular-webfont.woff2") format("woff2"), url("../assets/fonts/butler_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bulter";
  src: url("../assets/fonts/butler_light-webfont.woff2") format("woff2"), url("../assets/fonts/butler_light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Bulter";
  src: url("../assets/fonts/butler_ultra_light-webfont.woff2") format("woff2"), url("../assets/fonts/butler_ultra_light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
/* iskry */
@font-face {
  font-family: "Iskry";
  src: url("../assets/fonts/Iskry-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* union */
@font-face {
  font-family: "Union";
  src: url("../assets/fonts/Union-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #D7CECD;
}

.c-cursor--outline {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}
.c-cursor--inline {
  position: fixed;
  z-index: 100;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  pointer-events: none;
  transition: transform ease 0.34s, background-color ease 0.34s, mix-blend-mode ease 0.34s;
  transform: scale(0.5) translate3d(0, 0, 0);
  -webkit-transform: scale(0.5) translate3d(0, 0, 0);
  mix-blend-mode: difference;
}
.c-cursor--inline.enlarged {
  transform: scale(1) translate3d(0, 0, 0);
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}

.c-scroll-wrapper {
  width: 14px;
  height: 29px;
  border: 1px solid #e8ddd5;
  border-radius: 15px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}
.c-scroll-text {
  position: absolute;
  z-index: 2;
}
.c-scroll .c-scroller {
  width: 9px;
  height: 8px;
  border-radius: 8px;
  background-color: #e8ddd5;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 34px;
  animation: scroller 1500ms ease-out infinite;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}
body {
  background-color: #D7CECD;
  color: #000000;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  transition: all 0.375s ease-in-out;
}

h1 {
  font-family: "Bulter", Courier, monospace;
  font-weight: 700;
}

h2 {
  font-family: "Iskry", Courier, monospace;
}

h3 {
  font-family: "Union", Courier, monospace;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.o-main-sections.c-contact-section,
body.o-contact-container section {
  height: auto;
  min-height: inherit;
}

.o-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-main-title-box {
  margin-bottom: 10%;
}

.c-main-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 13vw;
  margin-left: 0px;
  line-height: 1;
  text-transform: uppercase;
}
.c-main-title span {
  z-index: 1;
}

.o-portfolio-container .c-main-title {
  font-size: 12vw;
}

.c-main-job-title {
  font-family: "Iskry", Courier, monospace;
  margin-top: -6%;
  margin-bottom: -2%;
  margin-left: 19%;
  z-index: 1000;
  opacity: 0.4;
  font-size: 46px;
}

.c-destop-menu {
  bottom: 5%;
  left: 0%;
}
.c-destop-menu .nav-item.active {
  color: #ffefd9;
}
.c-destop-menu .nav-item.active .nav-link {
  font-size: 32px;
}
.c-destop-menu .nav-item .nav-link {
  font-size: 27px;
  line-height: 1.2;
  font-family: "Iskry", Courier, monospace;
}

.c-title-img {
  width: 150px;
  transform: rotateZ(344deg);
  position: absolute;
  right: 28%;
  top: 92%;
}

.hover {
  background-color: transparent;
  opacity: 0.1;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.9;
  z-index: -1;
  background-color: rgba(255, 199, 115, 0.883);
}

.c-social-icons {
  bottom: 3%;
  right: 3%;
  gap: 10px;
}
.c-social-icons a {
  text-decoration: none;
}
.c-social-icons .fa-brands {
  color: rgba(255, 255, 255, 0.9019607843);
  font-size: 29px;
}

.c-social-logo {
  width: 29px;
  filter: brightness(0) invert(1);
}

.c-typewriter {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  box-sizing: content-box;
}

.img-nav-item {
  position: relative;
  z-index: 1;
}
.img-nav-item img {
  position: absolute;
  width: auto;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
  top: 20%;
  right: -130%;
  left: 100%;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  filter: blur(2px);
  pointer-events: none;
}

.o-home-container .img-nav-item {
  position: relative;
}
.o-home-container .img-nav-item img {
  opacity: 0;
  visibility: hidden;
  filter: blur(2px);
}

.js-bg {
  height: 100vh !important;
}

.container-slider {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.c-panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 10px;
  padding-bottom: 7rem !important;
}
.c-panel h3,
.c-panel li {
  text-align: left;
}
.c-panel h4,
.c-panel p,
.c-panel li {
  font-family: "Union", Courier, monospace;
}
.c-panel__description {
  text-align: center;
  max-width: 450px;
  padding-bottom: 60px;
}
.c-panel__description p {
  text-align: center;
  font-size: 18px;
}
.c-panel li {
  padding-left: 8px;
  margin: 0.3em 0 0.3em 0;
  text-align: left;
}
.c-panel li::marker {
  content: "◌";
  margin-right: 6px;
}

.o-menu-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-menu {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.c-menu__trigger {
  position: absolute;
  top: 24px;
  right: 26px;
  cursor: pointer;
}
.c-menu__trigger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 12px;
  left: 0;
  transform: translateX(-7px);
  top: 8px;
  transition: all 0.2s ease;
  will-change: transform;
}
.c-menu__trigger span {
  position: relative;
  font-family: "Iskry", Courier, monospace;
  z-index: 1;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}
.c-menu__trigger:hover:after {
  transform: translateX(0);
}
.c-menu__trigger--close {
  visibility: hidden;
  opacity: 0;
}
.c-menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  visibility: hidden;
  justify-content: center;
  opacity: 0;
}
.c-menu__inner-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.c-menu__inner-background li {
  position: relative;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}
.c-menu__inner-background li:first-child {
  width: 21px;
}
.c-menu__inner-background li:nth-child(2) {
  width: calc(33.33% - 14px);
}
.c-menu__inner-background li:nth-child(3) {
  width: calc(33.33% - 14px);
}
.c-menu__inner-background li:nth-child(4) {
  width: calc(33.33% - 14px);
}
.c-menu__inner-background li:last-child {
  width: 21px;
}
.c-menu__inner-background li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 188, 164, 0.8588235294);
  opacity: 0;
  visibility: hidden;
}
.c-menu__inner-background li i:after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: rgba(211, 188, 164, 0.8588235294);
  z-index: 2;
}
.c-menu__items-wrapper {
  position: relative;
  padding-left: 22px;
}
.c-menu__items-list {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  text-align: center;
}
.c-menu__items-list li {
  margin-bottom: 8px;
}
.c-menu__items-list li a {
  font-family: "Iskry", Courier, monospace;
  color: #282828;
  text-decoration: none;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  display: block;
  letter-spacing: -1.2px;
  font-weight: 900;
}
.c-menu__items-shape {
  position: absolute;
  left: -32px;
  top: -60px;
}
.c-menu__items-shape svg {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  min-height: 150px;
  margin: 0 auto;
}

.o-about-container .c-main-job-title {
  margin-top: -8%;
}
.o-about-container .c-title-img {
  right: 28%;
  top: 82%;
}

.o-form-container {
  max-width: 385px;
  margin: 0 auto;
}

.c-contact-form__container {
  max-width: 385px;
  margin: 0 auto;
  position: relative;
}

.c-contact-form__title {
  text-align: center;
  font-family: "Iskry", Courier, monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 13px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 12px;
}

.c-contact-form__field {
  position: relative;
  margin: 32px 0;
}
.c-contact-form__input {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.c-contact-form__input:focus {
  outline: none;
}
.c-contact-form__input:focus + .c-contact-form__label, .c-contact-form__input.not-empty + .c-contact-form__label {
  transform: translateY(-24px);
  left: 0;
}
.c-contact-form__textarea {
  display: block;
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.c-contact-form__textarea:focus {
  outline: none;
}
.c-contact-form__textarea:focus + .c-contact-form__label, .c-contact-form__textarea.not-empty + .c-contact-form__label {
  transform: translateY(-24px);
  left: 0;
}
.c-contact-form__label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
.c-contact-form .text-area__label {
  position: absolute;
  left: 20px;
  top: 0px;
  bottom: auto;
  transition: transform 0.2s ease-in-out;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
}
.c-contact-form__submit-btn {
  font-family: "Bulter", Courier, monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.o-portfolio-container .c-main-job-title {
  margin-top: -5%;
  margin-bottom: -3% !important;
}

.c-scroll--heading {
  margin-top: 0.3rem;
  margin-bottom: -2rem;
  margin-left: 7rem;
  font-size: 1.2rem;
  font-family: "Iskry", Courier, monospace;
  font-weight: 300;
}
.c-scroll--heading .c-scroll-text {
  position: relative;
  opacity: 0.5;
}

.o-about-container .c-main-job-title {
  margin-bottom: -4% !important;
  margin-top: -8%;
  text-align: inherit;
}
.o-about-container .c-scroll--heading {
  margin-top: 0.3rem;
  margin-bottom: -2rem;
  margin-left: -3rem;
  z-index: 1;
  font-size: 1.2rem;
  font-family: "Iskry", Courier, monospace;
  font-weight: 300;
}
.o-about-container .c-scroll--heading .c-scroll-text {
  position: relative;
  opacity: 0.5;
}

.o-contact-container .c-scroll--heading {
  margin-top: -1.8rem;
  margin-bottom: -2rem;
  margin-left: 7rem;
  z-index: 1;
  font-size: 1.2rem;
  font-family: "Iskry", Courier, monospace;
  font-weight: 300;
}
.o-contact-container .c-scroll--heading .c-scroll-text {
  position: relative;
  opacity: 0.5;
}

.c-figure {
  position: absolute;
  cursor: pointer;
  height: auto;
}
.c-figure a {
  color: #000000;
  text-decoration: none;
}
.c-figure figcaption {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Bulter", Courier, monospace;
}
.c-figure img {
  height: auto !important;
  max-height: 100% !important;
  border-radius: 3px;
}
.c-figure--one {
  left: 6%;
  top: 10%;
  height: auto;
  max-height: 300px;
  max-width: 26vw;
}
.c-figure--one figcaption {
  margin-top: 1rem;
  margin-right: -10rem;
}
.c-figure--two {
  left: 45vw;
  right: auto;
  top: 8%;
  height: auto;
  max-height: 447px;
  max-width: 36vw;
}
.c-figure--two figcaption {
  margin-top: 1rem;
}
.c-figure--three {
  right: auto;
  left: 3%;
  top: 7%;
  height: auto;
  max-height: 378px;
  max-width: 24vw;
}
.c-figure--three figcaption {
  margin-top: 2rem;
  margin-right: -12rem;
}
.c-figure--four {
  left: 37%;
  top: 22%;
  height: auto;
  max-height: 616px;
  max-width: 28vw;
}
.c-figure--four figcaption {
  margin-top: 1rem;
}
.c-figure--five {
  left: auto;
  right: -2%;
  top: 15%;
  height: auto;
  max-height: 354px;
  max-width: 32vw;
}
.c-figure--five img {
  border: 1px solid rgba(6, 6, 6, 0.0705882353);
}
.c-figure--five figcaption {
  margin-top: 2rem;
  margin-right: -20rem;
}
.c-figure--six {
  left: 7%;
  top: 6%;
  height: auto;
  max-height: 354px;
  max-width: 20vw;
}
.c-figure--six figcaption {
  margin-top: 2rem;
}
.c-figure--seven {
  left: 33%;
  top: 25%;
  height: auto;
  max-height: 560px;
  max-width: 34vw;
}
.c-figure--seven figcaption {
  margin-left: -1rem;
}
.c-figure--eight {
  left: auto;
  right: 4%;
  top: 15%;
  height: auto;
  max-height: 360px;
  max-width: 25vw;
}
.c-figure--eight figcaption {
  margin-top: 1rem;
}
.c-figure--nine {
  left: 16%;
  top: 5%;
  height: auto;
  max-height: 420px;
  max-width: 17vw;
}
.c-figure--nine figcaption {
  margin-top: 1rem;
}
.c-figure--ten {
  left: 45%;
  top: 15%;
  height: auto;
  max-height: 560px;
  max-width: 29vw;
}
.c-figure--ten figcaption {
  margin-top: 1rem;
  margin-left: -3rem;
  font-size: 1.5rem;
}

body.is-light {
  background-color: #ffffff;
  color: #333333;
}
body.is-light .c-social-icons .fa-brands,
body.is-light .c-menu__trigger span {
  color: #333333;
}
body.is-light .c-social-logo {
  filter: brightness(0) invert(0.2);
}
body.is-light .c-destop-menu .nav-item {
  color: #d7cecd;
}
body.is-light .c-destop-menu .nav-item.active {
  color: #1a1919;
}

@media (max-width: 767.9px) {
  body {
    height: 100%;
    min-height: 100vh;
  }
  .o-main-container {
    justify-content: start;
    overflow: hidden;
  }
  .o-menu-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
  }
  .c-cursor {
    display: none;
  }
  .c-main-title {
    white-space: pre-wrap;
    font-size: 22vw;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 43px;
  }
  .c-main-title-box {
    margin-top: 12vh;
  }
  .c-main-title span {
    line-height: 41px;
  }
  .c-main-title--two {
    z-index: 10;
  }
  .o-home-container .c-main-title {
    white-space: pre-wrap;
    font-size: 20vw;
    margin-bottom: 10px;
    line-height: 38px;
  }
  .c-main-job-title {
    margin-top: -24%;
    margin-left: -2%;
    font-size: 29px;
    z-index: 0;
  }
  .o-about-container .c-main-job-title {
    text-align: center;
  }
  .o-portfolio-container .c-main-title {
    line-height: 25px;
    font-size: 14.3vw;
  }
  .o-portfolio-container .c-main-title :first-child {
    margin-right: 28%;
  }
  .c-destop-menu {
    left: 0;
    bottom: 6%;
  }
  .c-destop-menu .nav-item .nav-link {
    font-size: 22px;
  }
  .c-social-icons {
    bottom: 5%;
  }
  .c-title-img {
    z-index: -1;
    top: 103%;
    width: 40vw;
  }
  .c-panel h2 {
    font-size: 1.3rem;
    max-width: 330px;
    margin-bottom: 2rem;
  }
  .c-panel h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  .c-panel__description {
    max-width: 310px;
  }
  .o-about-container .c-main-job-title,
  .o-contact-container .c-main-job-title,
  .o-portfolio-container .c-main-job-title {
    margin-top: -22%;
  }
  .o-about-container .c-title-img,
  .o-contact-container .c-title-img,
  .o-portfolio-container .c-title-img {
    top: 98%;
  }
  .o-form-container {
    max-width: 300px;
  }
  .c-figure figcaption {
    font-size: 1.5rem;
  }
  .c-figure--one {
    max-width: 64vw;
    top: 0%;
  }
  .c-figure--one figcaption {
    margin-top: 0rem;
    margin-right: -5rem;
  }
  .c-figure--two {
    left: 44%;
    top: auto;
    bottom: -316%;
    max-height: 450px;
    max-width: 44vw;
  }
  .c-figure--two figcaption {
    margin-top: 0rem;
  }
  .c-figure--three {
    right: auto;
    left: 7%;
    top: 33%;
    height: auto;
    max-height: 378px;
    max-width: 31vw;
  }
  .c-figure--three figcaption {
    margin-top: 0rem;
    margin-right: -2rem;
  }
  .c-figure--four {
    left: 8%;
    top: auto;
    bottom: -16%;
    height: auto;
    max-height: 616px;
    max-width: 35vw;
    z-index: 1;
  }
  .c-figure--four figcaption {
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-right: -1rem;
  }
  .c-figure--five {
    left: auto;
    right: 4%;
    top: auto;
    height: auto;
    bottom: 0%;
    max-height: 354px;
    max-width: 54vw;
  }
  .c-figure--five img {
    border: 1px solid rgba(6, 6, 6, 0.0705882353);
  }
  .c-figure--five figcaption {
    margin-top: 0;
    margin-right: 0;
  }
  .c-figure--six {
    left: 6%;
    top: -18%;
    height: auto;
    max-height: 354px;
    max-width: 50vw;
  }
  .c-figure--six figcaption {
    margin-top: 1rem;
  }
  .c-figure--seven {
    left: auto;
    right: 5%;
    top: auto;
    bottom: 36%;
    height: 560px;
    max-height: 55vw;
    max-width: 48vw;
  }
  .c-figure--seven figcaption {
    margin-top: 1rem;
    margin-left: 0rem;
  }
  .c-figure--eight {
    left: 14%;
    right: auto;
    top: auto;
    bottom: 0%;
    height: auto;
    max-height: 360px;
    max-width: 37vw;
  }
  .c-figure--nine {
    left: 29%;
    top: 4%;
    height: auto;
    max-height: 320px;
    max-width: 40vw;
  }
  .c-figure--ten {
    left: 38%;
    top: auto;
    bottom: 0%;
    height: auto;
    max-height: 460px;
    max-width: 42vw;
  }
  .c-figure--ten figcaption {
    margin-top: 1rem;
    margin-left: 0rem;
    font-size: 1rem;
  }
  .c-destop-menu .nav-item.active .nav-link {
    font-size: 24px;
  }
  .container-slider {
    overscroll-behavior: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .o-about-container section.c-panel {
    min-height: auto;
    height: auto;
    padding-bottom: 5rem !important;
  }
  .o-about-container .c-panel__description {
    padding-bottom: 0;
  }
  .o-portfolio-container .c-panel h2 {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .c-cursor {
    display: none;
  }
  .o-main-container {
    justify-content: start;
    overflow: hidden;
  }
  .c-destop-menu .nav-item .nav-link {
    font-size: 30px;
  }
  .c-destop-menu .nav-item.active .nav-link {
    font-size: 40px;
  }
  .c-main-title {
    white-space: pre-wrap;
    font-size: 20vw;
    text-align: center;
    margin-bottom: -76px;
    line-height: 72px;
    z-index: 1;
    margin-top: 8vh;
  }
  .c-main-title-box {
    margin-top: 0vh;
  }
  .c-main-job-title {
    margin-left: 0%;
    font-size: 54px;
  }
  .c-title-img {
    width: 29vw;
    bottom: 21%;
    z-index: 0;
  }
  .o-about-container .c-title-img,
  .o-contact-container .c-title-img,
  .o-portfolio-container .c-title-img {
    top: 98%;
  }
  .o-portfolio-container .c-main-title {
    line-height: 51px;
    font-size: 17.3vw;
  }
  .c-figure figcaption {
    font-size: 1.7rem;
  }
  .c-figure--one {
    max-width: 46vw;
  }
  .c-figure--two {
    left: auto;
    top: auto;
    right: 3%;
    bottom: 10%;
    max-height: 447px;
    max-width: 40vw;
  }
  .c-figure--three {
    right: auto;
    left: 6%;
    top: 6%;
    height: auto;
    max-height: 378px;
    max-width: 34vw;
  }
  .c-figure--three figcaption {
    margin-top: 1rem;
    margin-right: -5rem;
  }
  .c-figure--four {
    left: 42%;
    top: auto;
    bottom: 7%;
    height: auto;
    max-height: 616px;
    max-width: 25vw;
    z-index: 1;
  }
  .c-figure--four figcaption {
    margin-top: -2rem;
    font-size: 1.2rem;
    margin-right: -6rem;
  }
  .c-figure--five {
    left: auto;
    right: -8%;
    top: auto;
    height: auto;
    bottom: 19%;
    max-height: 354px;
    max-width: 52vw;
  }
  .c-figure--five img {
    border: 1px solid rgba(6, 6, 6, 0.0705882353);
  }
  .c-figure--five figcaption {
    margin-top: 0;
    margin-right: -2rem;
  }
  .c-figure--six {
    left: 5%;
    top: 6%;
    height: auto;
    max-height: 354px;
    max-width: 31vw;
  }
  .c-figure--seven {
    left: auto;
    right: 0%;
    top: auto;
    bottom: 32%;
    height: auto;
    max-height: 217px;
    max-width: 49vw;
  }
  .c-figure--seven figcaption {
    margin-top: 1rem;
    margin-left: -2rem;
  }
  .c-figure--eight {
    left: auto;
    right: 40vw;
    top: auto;
    bottom: 7%;
    height: auto;
    max-height: 360px;
    max-width: 29vw;
  }
  .c-figure--nine {
    left: 12%;
    top: 5%;
    height: auto;
    max-height: 320px;
    max-width: 35vw;
  }
  .c-figure--ten {
    left: auto;
    right: 2%;
    top: auto;
    bottom: 15%;
    height: auto;
    max-height: 460px;
    max-width: 45vw;
  }
  .c-figure--ten figcaption {
    margin-top: 0.2rem;
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=styles.css.map */