@import 'variables';
@import 'settings';
@import 'animations';


body {
    background-color: #D7CECD;
    color: #000000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    transition: all .375s ease-in-out;
}

h1{
    font-family: $font-bulter;
    font-weight: 700;
}

h2{
    font-family: $font-iskry;
}

h3{
    font-family: $font-union;
}

.o-main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-main-title-box{
    margin-bottom: 10%;
}

.c-main-title {
    white-space: nowrap;
    overflow: hidden;
    font-size: 14.4vw;
    margin-left: -34px;
    line-height:1;
    text-transform: uppercase;

     span {
        z-index: 1;
     }
}

.c-main-job-title {
    font-family: 'iskry';
    margin-top: -6%;
    margin-bottom: -2%;
    margin-left: 19%;
    z-index: 1000;
    opacity: 0.4;
    font-size: 46px;
}

.c-destop-menu{
    bottom: 5%;
    left: 0%;

    .nav-item {
        &.active {
            color: #ffefd9;

             .nav-link {
                font-size: 36px;
             }
        }

        .nav-link {
            font-size: 30px;
            line-height: 1.2;
            font-family: 'Iskry';
        }
    }


}


.home-img {
    width: 130px;
    transform: rotateZ(344deg);
    // margin-left: 40%;
    // margin-top: -28px;
    // z-index: 0;
    position: absolute;
    right: 28%;
    top: 88%;
}



.hover {
    background-color: transparent;
    opacity: 0.1;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .9;
    z-index: -1;
    background-color: rgba(255, 199, 115, 0.883);
}

.c-social-icons {
    bottom: 3%;
    right: 3%;
    gap: 10px;

    a{
         text-decoration: none;
    }
    .fa-brands{
        color: #ffffffe6;
    font-size: 29px;
    }
}

.c-social-logo{
    width: 29px;
    filter: brightness(0) invert(1);
}

section {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.anim-typewriter{
    // position: relative;
    // top: 50%;  
    // width: 10.18em;
    // margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    // font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}


  
.img-nav-item {
    position: relative;
    z-index: 1;

    img{
        position: absolute;
        width: auto;
        height: 100px;
        object-fit: cover;
        transform: translateX(-50%) translateY(-50%);
        top: 20%;
        right: -130%;
        left: 100%;
        z-index: -10;
        opacity: 0;
        visibility: hidden;
        filter: blur(2px);
        pointer-events: none;
    }

}

.o-home-container {
    .img-nav-item {
        position: relative;

        img{
            opacity: 0;
            visibility: hidden;
            filter: blur(2px);
        }
    
    }
    
}
  
  
.js-bg{
    height: 100vh;
}

.container-slider {
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  
.c-panel {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px;
    padding-bottom: 7rem !important;

    h3,
    li{
        text-align: left;
    }

    h4,
    p,
    li{
        font-family: 'union';
    }

    &__description {
        text-align: center;
        max-width: 450px;
        padding-bottom: 60px;
        
        p{
            text-align: center;
            font-size: 18px;
        }
    }

    li{
        padding-left: 8px;
        margin: 0.3em 0 0.3em 0;
        text-align: left;

        &::marker {
            content: "◌";
            margin-right: 6px;
        }
    
    }
    
}

.o-menu__container{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.c-menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    // background-color: #d7cecd;

    &__trigger {
      position: absolute;
      top: 24px;
      right: 26px;
      cursor: pointer;

      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 12px;
        left: 0;
        transform: translateX(-7px);
        top: 8px;
        // background-image: linear-gradient(0deg, #ffdfb8 0%, #b9b9b933 100%);
        transition: all 0.2s ease;
        will-change: transform;
      }

      span {
        position: relative;
        font-family: 'Iskry';
        z-index: 1;
        font-weight: 900;
        letter-spacing: -1px;
        text-transform: uppercase;
        font-size: 16px;
        color: #ffffff;
      }

      &:hover {
        &:after {
          transform: translateX(0);
        }
      }
  
      &--close {
        visibility: hidden;
        opacity: 0;
      }
    }
   
    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 1;
      border-radius: 10px;
      overflow: hidden;
      visibility: hidden;
      justify-content: center;
      opacity: 0;
    }

    &__inner-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 0;
  
      li {
        position: relative;
        display: inline-block;
        height: 100%;
        overflow: hidden;

        &:first-child {
          width: 21px;
        }

        &:nth-child(2) {
          width: calc(33.33% - 14px);
        }

        &:nth-child(3) {
          width: calc(33.33% - 14px);
        }

        &:nth-child(4) {
          width: calc(33.33% - 14px);
        }

        &:last-child {
          width: 21px;
        }

        i {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #d3bca4db;
          opacity: 0;
          visibility: hidden;

          &:after {
            content: "";
            display: block;
            height: 100%;
            width: 1px;
            background: #d3bca4db;
            z-index: 2;
          }
        }
      }
    }

    &__items-wrapper {
      position: relative;
      padding-left: 22px;
    }

    &__items-list {
      position: relative;
      z-index: 1;
      list-style: none;
      padding: 0;
      text-align: center;

      li {
        margin-bottom: 8px;

        a {
            font-family: 'Iskry';
          color: #282828;
          text-decoration: none;
          font-size: 40px;
          line-height: 50px;
          text-transform: uppercase;
          display: block;
          letter-spacing: -1.2px;
          font-weight: 900;
        }
      }
    }
    &__items-shape {
      position: absolute;
      left: -32px;
      top: -60px;

      svg {
        position: relative;
        display: block;
        width: 140px;
        height: 140px;
        min-height: 150px;
        margin: 0 auto;
      }
    }
}
  
body.is-light {
    background-color: #ffffff;
    color: #333333;

    .c-social-icons .fa-brands,
    .menu__trigger span{
        color: #333333;
    }

    .c-social-logo {
        -webkit-filter: brightness(0) invert(0.2);
        filter: brightness(0) invert(0.2);
    }

    .c-destop-menu .nav-item {
        color: #d7cecd;
    }
    .c-destop-menu .nav-item.active {
        color: #1a1919;
    }
}

@media (max-width : 767.9px){

    body{
        height: 100%;
        min-height: 100vh;
    }
    .o-main-container{
        justify-content: start;
        overflow: hidden;
    }

    .c-cursor{
        display: none;
    }

    .c-main-title {
        white-space: pre-wrap;
        font-size: 23vw;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 10px;
        line-height: 33px;
        margin-top: 10vh;

        span {
            line-height: 61px;
         }

        &--two {
            z-index: 10;
        }
    }

    .c-main-job-title {
        margin-top: -24%;
        margin-left: -2%;
        font-size: 29px;
        z-index: 0;
    }

    .c-destop-menu {
        left: 0;
        bottom: 7%;

        .nav-item {
            .nav-link {
                font-size: 22px;
            }
        }

    }

    .c-social-icons {
        bottom: 5%;
    }

    .home-img {
        z-index: -1;
        bottom: 31%;
        width: 38vw;
    }

    .o-menu__container{
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
            display: block;
    }

    .c-panel{

        h2{
            font-size: 1.3rem;
        }
        h3{
            font-size: 1rem;
            font-weight: 600;
        }

        &__description {
            max-width: 310px;
        }


    }

    .o-about-container {
        .c-main-title-box {
            margin-bottom: 52%;
        }
    }

}


@media screen and (min-width: 768px) and (max-width: 991px)  {

    .c-main-title {
        white-space: pre-wrap;
        font-size: 23vw;
        text-align: center;
        margin-bottom: -75px;
        line-height: 86px;
        z-index: 1;
    }
    
    .home-img {
        width: 170px;
        bottom: 21%;
        z-index: 0;
    }
}

@import 'query';