@charset "UTF-8";
/* font-face  */
/* font-family: 'Aladin', cursive;
font-family: 'Amatic SC', cursive; */
/* bulter  */
@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_black-webfont.woff2") format("woff2"), url("../assets/fonts/butler_black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/butler_extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_bold-webfont.woff2") format("woff2"), url("../assets/fonts/butler_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_medium-webfont.woff2") format("woff2"), url("../assets/fonts/butler_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_regular-webfont.woff2") format("woff2"), url("../assets/fonts/butler_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_light-webfont.woff2") format("woff2"), url("../assets/fonts/butler_light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_ultra_light-webfont.woff2") format("woff2"), url("../assets/fonts/butler_ultra_light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/* iskry */
@font-face {
  font-family: 'Iskry';
  src: url("../assets/fonts/Iskry-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* union */
@font-face {
  font-family: 'Union';
  src: url("../assets/fonts/Union-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #D7CECD;
}

.c-cursor--outline {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(calc(-50% + 15px), -50%);
          transform: translate(calc(-50% + 15px), -50%);
}

.c-cursor--inline {
  position: fixed;
  z-index: 100;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: background-color ease 0.34s, mix-blend-mode ease 0.34s, -webkit-transform ease 0.34s;
  transition: background-color ease 0.34s, mix-blend-mode ease 0.34s, -webkit-transform ease 0.34s;
  transition: transform ease 0.34s, background-color ease 0.34s, mix-blend-mode ease 0.34s;
  transition: transform ease 0.34s, background-color ease 0.34s, mix-blend-mode ease 0.34s, -webkit-transform ease 0.34s;
  transform: scale(0.5) translate3d(0, 0, 0);
  -webkit-transform: scale(0.5) translate3d(0, 0, 0);
  mix-blend-mode: difference;
}

.c-cursor--inline.enlarged {
  transform: scale(1) translate3d(0, 0, 0);
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}

body {
  background-color: #D7CECD;
  color: #000000;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -webkit-transition: all .375s ease-in-out;
  transition: all .375s ease-in-out;
}

h1 {
  font-family: "Bulter", Courier, monospace;
  font-weight: 700;
}

h2 {
  font-family: "Iskry", Courier, monospace;
}

h3 {
  font-family: "Union", Courier, monospace;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-main-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-main-title-box {
  margin-bottom: 10%;
}

.c-main-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 14.4vw;
  margin-left: -34px;
  line-height: 1;
  text-transform: uppercase;
}

.c-main-title span {
  z-index: 1;
}

.c-main-job-title {
  font-family: "Iskry", Courier, monospace;
  margin-top: -6%;
  margin-bottom: -2%;
  margin-left: 19%;
  z-index: 1000;
  opacity: 0.4;
  font-size: 46px;
}

.c-destop-menu {
  bottom: 5%;
  left: 0%;
}

.c-destop-menu .nav-item.active {
  color: #ffefd9;
}

.c-destop-menu .nav-item.active .nav-link {
  font-size: 36px;
}

.c-destop-menu .nav-item .nav-link {
  font-size: 30px;
  line-height: 1.2;
  font-family: "Iskry", Courier, monospace;
}

.c-title-img {
  width: 130px;
  -webkit-transform: rotateZ(344deg);
          transform: rotateZ(344deg);
  position: absolute;
  right: 28%;
  top: 88%;
}

.hover {
  background-color: transparent;
  opacity: 0.1;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .9;
  z-index: -1;
  background-color: rgba(255, 199, 115, 0.883);
}

.c-social-icons {
  bottom: 3%;
  right: 3%;
  gap: 10px;
}

.c-social-icons a {
  text-decoration: none;
}

.c-social-icons .fa-brands {
  color: #ffffffe6;
  font-size: 29px;
}

.c-social-logo {
  width: 29px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.c-typewriter {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.img-nav-item {
  position: relative;
  z-index: 1;
}

.img-nav-item img {
  position: absolute;
  width: auto;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 20%;
  right: -130%;
  left: 100%;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  pointer-events: none;
}

.o-home-container .img-nav-item {
  position: relative;
}

.o-home-container .img-nav-item img {
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.js-bg {
  height: 100vh;
}

.container-slider {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.c-panel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 10px;
  padding-bottom: 7rem !important;
}

.c-panel h3,
.c-panel li {
  text-align: left;
}

.c-panel h4,
.c-panel p,
.c-panel li {
  font-family: "Union", Courier, monospace;
}

.c-panel__description {
  text-align: center;
  max-width: 450px;
  padding-bottom: 60px;
}

.c-panel__description p {
  text-align: center;
  font-size: 18px;
}

.c-panel li {
  padding-left: 8px;
  margin: 0.3em 0 0.3em 0;
  text-align: left;
}

.c-panel li::marker {
  content: "◌";
  margin-right: 6px;
}

.o-menu-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-menu {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.c-menu__trigger {
  position: absolute;
  top: 24px;
  right: 26px;
  cursor: pointer;
}

.c-menu__trigger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 12px;
  left: 0;
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
  top: 8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  will-change: transform;
}

.c-menu__trigger span {
  position: relative;
  font-family: "Iskry", Courier, monospace;
  z-index: 1;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}

.c-menu__trigger:hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.c-menu__trigger--close {
  visibility: hidden;
  opacity: 0;
}

.c-menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.c-menu__inner-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.c-menu__inner-background li {
  position: relative;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}

.c-menu__inner-background li:first-child {
  width: 21px;
}

.c-menu__inner-background li:nth-child(2) {
  width: calc(33.33% - 14px);
}

.c-menu__inner-background li:nth-child(3) {
  width: calc(33.33% - 14px);
}

.c-menu__inner-background li:nth-child(4) {
  width: calc(33.33% - 14px);
}

.c-menu__inner-background li:last-child {
  width: 21px;
}

.c-menu__inner-background li i {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #d3bca4db;
  opacity: 0;
  visibility: hidden;
}

.c-menu__inner-background li i:after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: #d3bca4db;
  z-index: 2;
}

.c-menu__items-wrapper {
  position: relative;
  padding-left: 22px;
}

.c-menu__items-list {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  text-align: center;
}

.c-menu__items-list li {
  margin-bottom: 8px;
}

.c-menu__items-list li a {
  font-family: "Iskry", Courier, monospace;
  color: #282828;
  text-decoration: none;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  display: block;
  letter-spacing: -1.2px;
  font-weight: 900;
}

.c-menu__items-shape {
  position: absolute;
  left: -32px;
  top: -60px;
}

.c-menu__items-shape svg {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  min-height: 150px;
  margin: 0 auto;
}

.o-form-container {
  max-width: 385px;
  margin: 0 auto;
}

.c-contact-form__container {
  max-width: 385px;
  margin: 0 auto;
  position: relative;
}

.c-contact-form__title {
  text-align: center;
  font-family: "Iskry", Courier, monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 13px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 12px;
}

.c-contact-form {
  z-index: 100;
}

.c-contact-form__field {
  position: relative;
  margin: 32px 0;
}

.c-contact-form__input {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.c-contact-form__input:focus {
  outline: none;
}

.c-contact-form__input:focus + .c-contact-form__label, .c-contact-form__input.not-empty + .c-contact-form__label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  left: 0;
}

.c-contact-form__textarea {
  display: block;
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.c-contact-form__textarea:focus {
  outline: none;
}

.c-contact-form__textarea:focus + .c-contact-form__label, .c-contact-form__textarea.not-empty + .c-contact-form__label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  left: 0;
}

.c-contact-form__label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.c-contact-form .text-area__label {
  position: absolute;
  left: 20px;
  top: 0px;
  bottom: auto;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  font-family: "Bulter", Courier, monospace, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
}

.c-contact-form__submit-btn {
  font-family: "Bulter", Courier, monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

body.is-light {
  background-color: #ffffff;
  color: #333333;
}

body.is-light .c-social-icons .fa-brands,
body.is-light .menu__trigger span {
  color: #333333;
}

body.is-light .c-social-logo {
  -webkit-filter: brightness(0) invert(0.2);
  filter: brightness(0) invert(0.2);
}

body.is-light .c-destop-menu .nav-item {
  color: #d7cecd;
}

body.is-light .c-destop-menu .nav-item.active {
  color: #1a1919;
}

@media (max-width: 767.9px) {
  body {
    height: 100%;
    min-height: 100vh;
  }
  .o-main-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow: hidden;
  }
  .c-cursor {
    display: none;
  }
  .c-main-title {
    white-space: pre-wrap;
    font-size: 23vw;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 33px;
  }
  .c-main-title-box {
    margin-top: 20vh;
  }
  .c-main-title span {
    line-height: 61px;
  }
  .c-main-title--two {
    z-index: 10;
  }
  .c-main-job-title {
    margin-top: -24%;
    margin-left: -2%;
    font-size: 29px;
    z-index: 0;
  }
  .c-destop-menu {
    left: 0;
    bottom: 7%;
  }
  .c-destop-menu .nav-item .nav-link {
    font-size: 22px;
  }
  .c-social-icons {
    bottom: 3%;
  }
  .c-title-img {
    z-index: -1;
    top: 103%;
    width: 40vw;
  }
  .o-menu-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
  }
  .c-panel h2 {
    font-size: 1.3rem;
  }
  .c-panel h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .c-panel__description {
    max-width: 310px;
  }
  .o-about-container .c-main-title-box,
  .o-contact-container .c-main-title-box {
    margin-bottom: 52%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .c-cursor {
    display: none;
  }
  .o-main-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow: hidden;
  }
  .c-main-title {
    white-space: pre-wrap;
    font-size: 23vw;
    text-align: center;
    margin-bottom: -75px;
    line-height: 86px;
    z-index: 1;
  }
  .c-main-title-box {
    margin-top: 5vh;
  }
  .c-main-job-title {
    margin-left: 0%;
  }
  .c-title-img {
    width: 29vw;
    bottom: 21%;
    z-index: 0;
  }
}
/*# sourceMappingURL=styles.css.map */