/* font-face  */
/* font-family: 'Aladin', cursive;
font-family: 'Amatic SC', cursive; */
/* bulter  */
@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_black-webfont.woff2") format("woff2"), url("../assets/fonts/butler_black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/butler_extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_bold-webfont.woff2") format("woff2"), url("../assets/fonts/butler_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_medium-webfont.woff2") format("woff2"), url("../assets/fonts/butler_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_regular-webfont.woff2") format("woff2"), url("../assets/fonts/butler_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_light-webfont.woff2") format("woff2"), url("../assets/fonts/butler_light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Bulter';
  src: url("../assets/fonts/butler_ultra_light-webfont.woff2") format("woff2"), url("../assets/fonts/butler_ultra_light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/* iskry */
@font-face {
  font-family: 'Iskry';
  src: url("../assets/fonts/Iskry-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* union */
@font-face {
  font-family: 'Union';
  src: url("../assets/fonts/Union-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #D7CECD;
  overflow: hidden;
}

h1 {
  font-family: "Bulter", Courier, monospace;
  font-weight: 700;
}

h2 {
  font-family: "Iskry", Courier, monospace;
}

h3 {
  font-family: "Union", Courier, monospace;
}

.title-box {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 20vw;
  margin-left: -34px;
  margin-bottom: 100px;
}

.title span {
  z-index: 1;
}

.char {
  -webkit-transform: translateY(115px);
          transform: translateY(115px);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.mobile-menu-nav {
  top: 5%;
  z-index: 10;
}

.desktop-menu-nav {
  bottom: 5%;
  left: 5%;
}

.desktop-menu-nav .nav-item.active {
  color: #ffefd9;
}

.desktop-menu-nav .nav-item.active .nav-link {
  font-size: 36px;
}

.desktop-menu-nav .nav-item .nav-link {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Iskry';
}

.home-img {
  width: 130px;
  -webkit-transform: rotateZ(344deg);
          transform: rotateZ(344deg);
  right: 23%;
  bottom: 24%;
  z-index: 0;
}
/*# sourceMappingURL=styles.css.map */