@import 'variables';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D7CECD;
    overflow: hidden;

}

h1{
    font-family: $font-bulter;
    font-weight: 700;
}

h2{
    font-family: $font-iskry;
}

h3{
    font-family: $font-union;
}

.title-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    font-size: 20vw;
    margin-left: -34px;
    margin-bottom: 100px;

     span {
        z-index: 1;
     }
}

.char {
    transform: translateY(115px);
    transition: transform .2s;
}

.mobile-menu-nav{
    top: 5%;
    z-index: 10;
}

.desktop-menu-nav{
    bottom: 5%;
    left: 5%;

    .nav-item {
        &.active {
            color: #ffefd9;

             .nav-link {
                font-size: 36px;
             }
        }

        .nav-link {
            font-size: 30px;
            line-height: 1.2;
            font-family: 'Iskry';
        }
    }


}


.home-img {
    width: 130px;
    transform: rotateZ(344deg);
    right: 23%;
    bottom: 24%;
    z-index: 0;
}